# Early Geograhic Exploration

This notebook begins to explore the UVLT donation data by computing some basic summary statistics for cities represented in the data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in the data
dataAnalysis = pd.read_excel("data/UVLTDataAnalysis.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [3]:
# Create a composite 'locName' column which is based on the existing City and State columns
dataAnalysis["locName"] = dataAnalysis["City"].map(str) + ", " + dataAnalysis["State"].map(str)
# Using the composite locName column just created, find the unique locations in the data
locs = list(dataAnalysis["locName"].dropna(axis = 0, how = "any").unique())

In [4]:
# Make a new dataframe to hold the values we'll compute
computed = pd.DataFrame(columns = ["Total Donated", "Number of Donors", "Average per Donor", "Average per Donation"])
# Walk through the unique locations and run analyses
for thisLoc in locs:
    # Find the donors corresponding to this location
    rows = dataAnalysis.loc[dataAnalysis["locName"] == thisLoc]
    # Add up their total donations
    totalDonated = rows["U_Tot_Amt"].sum()
    # Count the number of donors
    donorsCount = rows.shape[0]
    # Count the number of donations
    totalDonationCount = rows["U_Tot_Cnt"].sum()
    # Calcualte the average total donation per donor
    avgPerDonor = totalDonated / donorsCount
    # Calculate the average amount per donation
    avgPerDonation = totalDonated / totalDonationCount
    # Save these values in the new dataframe we created
    computed.loc[thisLoc] = [totalDonated, donorsCount, avgPerDonor, avgPerDonation]

/optnfs/el7/jupyterhub/envs/Psych81.09/lib/python3.6/site-packages/ipykernel_launcher.py:16: RuntimeWarning: invalid value encountered in double_scalars
  app.launch_new_instance()

In [5]:
# Prune out any rows where the total donation amount is 0
computed = computed.loc[computed["Total Donated"] > 0]

## Summary Data

**Top 10 cities by total donation:**

In [6]:
computed.sort_values("Total Donated", ascending = False)[:10]

,Total Donated,Number of Donors,Average per Donor,Average per Donation
"Hanover, NH",1271460.09,1556.0,817.133734,414.696703
"Norwich, VT",938850.39,1035.0,907.101826,605.709929
"Lyme, NH",794228.62,514.0,1545.191868,837.793903
"Etna, NH",674970.19,286.0,2360.035629,1124.950317
"Montpelier, VT",546400.00,29.0,18841.379310,9934.545455
"Belmont, MA",281650.70,9.0,31294.522222,8534.869697
"Piermont, NH",249743.40,87.0,2870.613793,2497.434000
"South Pomfret, VT",195112.27,32.0,6097.258437,5912.493030
"Lebanon, NH",191365.99,606.0,315.785462,208.232851
"Quechee, VT",168665.00,118.0,1429.364407,2082.283951

**Top 10 cities by number of donors:**

In [7]:
computed.sort_values("Number of Donors", ascending = False)[:10]

,Total Donated,Number of Donors,Average per Donor,Average per Donation
"Hanover, NH",1271460.09,1556.0,817.133734,414.696703
"Norwich, VT",938850.39,1035.0,907.101826,605.709929
"nan, nan",18302.59,682.0,26.836642,457.564750
"Lebanon, NH",191365.99,606.0,315.785462,208.232851
"Lyme, NH",794228.62,514.0,1545.191868,837.793903
"White River Junction, VT",114851.01,367.0,312.945531,323.523972
"Etna, NH",674970.19,286.0,2360.035629,1124.950317
"Enfield, NH",50581.39,260.0,194.543808,179.366631
"West Lebanon, NH",31458.50,252.0,124.835317,154.208333
"Woodstock, VT",56986.88,219.0,260.214064,321.959774

**Top 10 cities by average total donation per donor:**

In [8]:
computed.sort_values("Average per Donor", ascending = False)[:10]

,Total Donated,Number of Donors,Average per Donor,Average per Donation
"Kiawah Island, SC",75500.00,1.0,75500.000000,4194.444444
"Tequesta, FL",148525.11,2.0,74262.555000,13502.282727
"Belmont, MA",281650.70,9.0,31294.522222,8534.869697
"Montpelier, VT",546400.00,29.0,18841.379310,9934.545455
"Earlysville, VA",36700.00,3.0,12233.333333,1931.578947
"Manchester, MA",60965.00,5.0,12193.000000,6096.500000
"West Caldwell, NJ",11450.00,1.0,11450.000000,817.857143
"Myrtle Beach, SC",11259.94,1.0,11259.940000,1251.104444
"Bluffton, SC",20500.00,2.0,10250.000000,891.304348
"Litchfield, NH",10000.00,1.0,10000.000000,5000.000000

**Top 10 cities by average amount per donation:**

In [9]:
computed.sort_values("Average per Donation", ascending = False)[:10]

,Total Donated,Number of Donors,Average per Donor,Average per Donation
"Tequesta, FL",148525.11,2.0,74262.555000,13502.282727
"Dayton, OH",10000.00,1.0,10000.000000,10000.000000
"Montpelier, VT",546400.00,29.0,18841.379310,9934.545455
"Belmont, MA",281650.70,9.0,31294.522222,8534.869697
"Chevy Chase, MD",25300.00,5.0,5060.000000,6325.000000
"Manchester, MA",60965.00,5.0,12193.000000,6096.500000
"Newton, MA",6000.00,5.0,1200.000000,6000.000000
"South Pomfret, VT",195112.27,32.0,6097.258437,5912.493030
"Litchfield, NH",10000.00,1.0,10000.000000,5000.000000
"Kiawah Island, SC",75500.00,1.0,75500.000000,4194.444444