In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #matplotlib is a basic plotting library
import seaborn as sns #seaborn is a library that uses matplotlib to make styled plots
import hypertools as hyp #hypertools is a library for visualizing "high-dimensional" data
from glob import glob as lsdir

%matplotlib inline

In [13]:
! ls

April_8.ipynb			  TownLevelData.dta
CensusInfoUpperValley2015JH.xlsx  TownLevelData.xlsx
datacreate.do			  UVLTDataAnalysis.xls
Direct Mailing Analysis.xlsx	  UVLT Data Code Book.docx
FY17 Direct Mail List Costs.pdf   UVLTdata_final.dta
FY17Direct Mail List Sources.pdf  UVLTdata_individual.dta
FY18 Direct Mail List Costs.pdf   UVLT Data Information.docx
FY18 Direct Mail Source List.pdf

In [14]:
pd.read_excel('CensusInfoUpperValley2015JH.xlsx')

,Town #,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total Housing Units,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1.0,Bath,366,10,3,589.0,NaN,NaN,NaN
1,2.0,Bradford,822,13,0,1407.0,NaN,NaN,NaN
2,3.0,Canaan,1140,8,0,1867.0,NaN,NaN,NaN
3,4.0,Cavendish,510,40,3,1013.0,NaN,NaN,NaN
4,5.0,Charlestown,1738,0,0,2338.0,NaN,NaN,NaN
5,6.0,Chelsea,411,12,32,708.0,NaN,NaN,NaN
6,7.0,Claremont,3263,7,6,6317.0,NaN,NaN,NaN
7,8.0,Corinth,490,22,0,790.0,NaN,NaN,NaN
8,9.0,Cornish,584,35,13,826.0,NaN,NaN,NaN
9,10.0,Croydon,221,8,2,414.0,NaN,NaN,NaN
10,11.0,Dorchester,116,1,2,228.0,NaN,NaN,NaN
11,12.0,Enfield,1435,25,12,2739.0,NaN,NaN,NaN
12,13.0,Fairlee,304,34,3,613.0,NaN,NaN,NaN
13,14.0,Grafton,440,0,3,786.0,NaN,NaN,NaN
14,15.0,Grantham,1021,65,3,1670.0,NaN,NaN,NaN
15,16.0,Hanover,1742,723,118,3407.0,NaN,NaN,NaN
16,17.0,Hartford,2857,116,25,5983.0,NaN,NaN,NaN
17,18.0,Hartland,1069,85,29,1730.0,NaN,NaN,NaN
18,19.0,Haverhill,1273,7,0,2342.0,NaN,NaN,NaN
19,20.0,Lebanon,3190,188,23,6689.0,NaN,NaN,NaN
20,21.0,Lyme,596,165,52,789.0,NaN,NaN,NaN
21,22.0,Newbury,815,29,6,1392.0,NaN,NaN,NaN
22,23.0,Newport,1732,21,0,2742.0,NaN,NaN,NaN
23,24.0,Norwich,1069,364,56,1492.0,NaN,NaN,NaN
24,25.0,Orange,108,1,2,489.0,NaN,NaN,NaN
25,26.0,Orford,454,58,15,683.0,NaN,NaN,NaN
26,27.0,Piermont,286,30,7,473.0,NaN,NaN,NaN
27,28.0,Plainfield,771,89,3,1015.0,NaN,NaN,NaN
28,29.0,Pomfret,396,91,9,594.0,NaN,NaN,NaN
29,30.0,Reading,230,54,6,447.0,NaN,NaN,NaN
30,31.0,Royalton,610,7,0,1514.0,NaN,NaN,NaN
31,32.0,Ryegate,372,6,0,578.0,NaN,NaN,NaN
32,33.0,Sharon,477,22,5,732.0,NaN,NaN,NaN
33,34.0,Springfield,2449,29,11,4254.0,NaN,NaN,NaN
34,35.0,Strafford,387,45,7,592.0,NaN,NaN,NaN
35,36.0,Thetford,993,64,0,1343.0,NaN,NaN,NaN
36,37.0,Topsham,413,3,8,658.0,NaN,NaN,NaN
37,38.0,Tunbridge,472,19,7,747.0,NaN,NaN,NaN
38,39.0,Unity,495,3,0,673.0,NaN,NaN,NaN
39,40.0,Vershire,252,4,0,434.0,NaN,NaN,NaN
40,41.0,Weathersfield,1098,35,6,1388.0,NaN,NaN,NaN
41,42.0,West Fairlee,243,12,4,441.0,NaN,NaN,NaN
42,43.0,West Windsor,426,90,15,836.0,NaN,NaN,NaN
43,44.0,Windsor,876,13,23,1724.0,NaN,NaN,NaN
44,45.0,Woodstock,1081,203,59,2006.0,NaN,NaN,NaN
45,NaN,NaN,total #,$500K -999K,"$1,000,000+",NaN,NaN,NaN,NaN
46,NaN,NaN,39727,NaN,575,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,